<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"><!-- Habilita el uso de todos los atributos th: -->
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script><!--Para importar tailwind-->
    <title>Lista de Deudas</title>
</head>
<body>
<h1>Deudas Registradas</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Monto</th>
        <th>Deudor</th>
        <th>Acreedor</th>
        <th>Descripción del Gasto</th>
        <th>Vencimiento</th>
        <th>Cuota</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="debt : ${debts}">
        <td th:text="${debt.id}">1</td>
        <td th:text="'$' + ${#numbers.formatDecimal(debt.amount, 1, 'COMMA', 2, 'POINT')} + '.-'">monto</td>
        <!-- numbers.formatDecimal se usa para formatear el monto con coma como separador decimal, 2 como la cantidad fija de decimales y punto como separador de miles -->
        <td th:text="${debt.debtor.getName()}">deudor</td>
        <td th:text="${debt.creditor.getName()}">creditor</td>
        <td th:text="${debt.expense.description}">expense</td>
        <td th:text="${debt.dueDate}">fecha</td>
        <td th:text="${debt.installmentNumber}">cuota</td>

    </tr>
    </tbody>
</table>
<a th:href="@{/index}">Volver al index</a>

</body>
</html>
