<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"><!-- Habilita el uso de todos los atributos th: -->

    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.tailwindcss.com"></script><!--Para importar tailwind-->
        <title>Lista de Pagos</title>
    </head>

    <body class="min-h-screen bg-blue-100 flex flex-col">
        <div th:replace="fragments/navbar :: navbar"></div><!-- Incluye el navbar -->

        <main class="flex-grow flex flex-col items-center justify-start px-6 py-8">

            <h1 class="text-2xl font-bold text-blue-900 mb-6"
            >Pagos Registrados</h1>

            <div class="mb-6 flex gap-4">
                <a class="bg-blue-400 p-2 rounded-lg transition hover:bg-blue-600 text-white"
                   th:href="@{/payments/new}">Registrar nuevo pago</a>
            </div>

            <div class="w-full max-w-4xl bg-white p-6 rounded shadow-md">

                <table class="w-full text-left text-sm border border-gray-300 rounded">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="p-2">ID</th>
                            <th class="p-2">Monto</th>
                            <th class="p-2">Pagador</th>
                            <th class="p-2">Receptor</th>
                            <th class="p-2">Fecha</th>
                            <th class="p-2">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr class="border-t" th:each="payment : ${payments}">
                        <td class="p-2" th:text="${payment.id}">1</td>
                        <td class="p-2" th:text="'$' + ${payment.amount} + '.-'">monto</td>
                        <td class="p-2" th:text="${payment.payer.name}">Pagador</td>
                        <td class="p-2" th:text="${payment.recipient.name}">Receptor</td>
                        <td class="p-2" th:text="${#temporals.format(payment.date,'dd/MM/yyyy')}">Fecha</td>
                        <td class="p-2">
                            <a class="text-yellow-500 hover:underline mr-2"
                                    th:href="@{'/payments/edit/' + ${payment.id}}">Editar</a> |
                            <a class="text-red-500 hover:underline mr-2"
                                    th:href="@{'/payments/delete/' + ${payment.id}}"
                               onclick="return confirm('¿Estás seguro de que querés eliminar este pago?')">Eliminar</a>
                        </td>
                    </tr>
                    <tr th:if="${payments.size() == 0}">
                        <td colspan="6" class="p-2 text-center">No hay pagos registrados.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </body>
</html>
