<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
<h1>Usuarios Registrados</h1>
<div th:if="${session.loggedUser == null}" >
    <p>Esta View puede ser vista incluso sin estar logueado para poder hacer pruebas</p>
    <p>Todas las contraseñas entan encriptadas pero son 1234</p>
</div>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">Nombre</td>
        <td th:text="${user.email}">email@ejemplo.com</td>
    </tr>
    </tbody>

    <div th:if="${session.loggedUser != null}">
        <ul>
            <li><a href="/users/edit">Editar Usuario</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>

</table>
</body>
</html>
