<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"><!-- Habilita el uso de todos los atributos th: -->

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script><!--Para importar tailwind-->
  <title>Lista de Gastos</title>
</head>

<body class="min-h-screen bg-blue-100 flex flex-col">

<div th:replace="fragments/navbar :: navbar"></div><!-- Incluye el navbar -->

<main class="flex-grow flex flex-col items-center justify-start px-6 py-8"><!-- Contenido principal -->

  <h1 class="text-2xl font-bold text-blue-900 mb-6">Mis Gastos</h1>

  <div th:if="${success}" class="text-green-700 p-2 mb-4 text-sm text-center">
    <p th:text="${success}">Mensaje de éxito</p>
  </div>

  <div th:if="${error}" class="text-red-700 p-2 mb-4 text-sm text-center"><!-- Muestra este div si hay una variable "error" y no es null -->
    <p th:text="${error}">Mensaje de error</p>
  </div>

  <div class="mb-4">
    <a th:href="@{/expenses/new}"
       class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition">Nuevo gasto
    </a>
  </div>

  <div class="w-full max-w-4xl bg-white p-6 rounded shadow-md">
    <table class="w-full text-left text-sm border border-gray-300 rounded">
      <thead class="bg-gray-200">
      <tr>
        <th class="p-2">Descripción</th>
        <th class="p-2">Monto</th>
        <th class="p-2">Cuotas</th>
        <th class="p-2">Fecha</th>
        <th class="p-2">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${expenses.size() == 0}">
        <td colspan="5" class="p-4 text-center text-gray-500">No hay gastos registrados.</td>
      </tr>

      <tr th:each="expense : ${expenses}" class="border-t">
        <td>
          <a th:href="@{'/debts/list/' + ${expense.id}}" class="p-2 text-blue-600 hover:underline" th:text="${expense.description}">Ver Descripción</a>
        </td>

        <td class="p-2"
            th:text="'$' + ${#numbers.formatDecimal(expense.amount, 1, 'POINT', 2, 'COMMA')}">
          $0,00
        </td>
        <td class="p-2" th:text="${expense.installments}">1</td>
        <td class="p-2"
            th:text="${#temporals.format(expense.date, 'dd/MM/yyyy')}">
          01/01/2025
        </td>
        <td class="p-2">
          <a th:href="@{'/expenses/edit/' + ${expense.id}}" class="text-yellow-600 hover:underline mr-2">Editar</a>
          <a th:href="@{'/expenses/delete/' + ${expense.id}}"
             onclick="return confirm('¿Estás seguro que querés eliminar este gasto?')"
             class="text-red-600 hover:underline mr-2">Eliminar</a>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

</main>

</body>
</html>
