<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"><!-- Habilita el uso de todos los atributos th: -->
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.tailwindcss.com"></script><!--Para importar tailwind-->
        <title>Balance con amigo</title>
    </head>

    <body class="min-h-screen bg-blue-100 flex flex-col">

        <div th:replace="fragments/navbar :: navbar"></div><!-- Incluye el navbar -->

        <main class="flex-grow flex flex-col items-center justify-start px-6 py-8">

            <h1 class="text-2xl font-bold text-blue-900 mb-4"
                th:text="'Balance con ' + ${balanceDTO.friend.name} + ' al ' + ${date}">Balance con [nombre]</h1>

            <h2 class="text-xl text-gray-700 font-medium mb-6"
                th:text="'Saldo actual: $' + ${balanceDTO.balance}">Saldo: $0.00</h2>

            <form class="mb-8 flex items-center gap-2"
                    method="get" th:action="@{/balance/{id}(id=${balanceDTO.friend.id})}"><!-- Formulario para cambiar la fecha -->
                <!--
                    (id=...) le dice a Thymeleaf qué valor usar para reemplazar {id}
                    En este caso el id lo saca Thymeleaf del model.addAttribute "balanceDTO" que le pasa el controller
                -->
                <label class="text-gray-700 font-medium"
                        for="date">Actualizar a otra fecha:</label>
                <input class="rounded px-2 py-1 border border-gray-300"
                        type="date" id="date" name="date" th:value="${date}"><!-- Recibe la nueva fecha y lo agrega a la URL como parámetro -->
                <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 transition"
                        type="submit">Actualizar</button>
            </form>

            <div class="w-full max-w-4xl bg-white p-6 rounded shadow-md mb-8">
                <h3 class="text-lg font-semibold text-blue-800 mb-4">Pagos</h3>
                <table class="w-full text-left text-sm border border-gray-300 rounded">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="p-2">Fecha</th>
                            <th class="p-2">Monto</th>
                            <th class="p-2">Pagador</th>
                            <th class="p-2">Receptor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${balanceDTO.payments}" class="border-t"><!-- for each en thymeleaf -->
                            <td class="p-2" th:text="${#temporals.format(p.date, 'dd/MM/yyyy')}">01-12-2025</td>
                            <!-- #temporals.format se usa para formatear la fecha en el formato dd/MM/yyyy -->
                            <td class="p-2" th:text="'$' + ${#numbers.formatDecimal(p.amount,1,'POINT',2,'COMMA')}">$100,00</td>
                            <!-- numbers.formatDecimal se usa para formatear el monto con COMMA como separador decimal, 2 como la cantidad fija de decimales y POINT como separador de miles -->
                            <td class="p-2" th:text="${p.payer.name}">Amigo 1</td>
                            <td class="p-2" th:text="${p.recipient.name}">Amigo 2</td>
                        </tr>
                        <tr th:if="${balanceDTO.payments.isEmpty()}">
                            <td colspan="6" class="p-2 text-center">No hay pagos con ese usuario hasta esta fecha.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="w-full max-w-4xl bg-white p-6 rounded shadow-md mb-8">
                <h3 class="text-lg font-semibold text-blue-800 mb-4">Deudas</h3>
                <table class="w-full text-left text-sm border border-gray-300 rounded">
                    <thead class="bg-gray-200">
                    <tr>
                        <th class="p-2">Vencimiento</th>
                        <th class="p-2">Monto</th>
                        <th class="p-2">Deudor</th>
                        <th class="p-2">Acreedor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${balanceDTO.debts}" class="border-t"><!-- for each en thymeleaf -->
                        <td class="p-2" th:text="${#temporals.format(d.dueDate, 'dd/MM/yyyy')}">01-12-2025</td>
                        <!-- #temporals.format se usa para formatear la fecha en el formato dd/MM/yyyy -->
                        <td class="p-2" th:text="'$' + ${#numbers.formatDecimal(d.amount,1,'POINT',2,'COMMA')}">$200,00</td>
                        <!-- numbers.formatDecimal se usa para formatear el monto con COMMA como separador decimal, 2 como la cantidad fija de decimales y POINT como separador de miles -->
                        <td class="p-2" th:text="${d.debtor.name}">Amigo A</td>
                        <td class="p-2" th:text="${d.creditor.name}">Amigo B</td>
                    </tr>
                    <tr th:if="${balanceDTO.debts.isEmpty()}">
                        <td colspan="6" class="p-2 text-center">No hay deudas con ese usuario hasta esta fecha.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </main>

    </body>
</html>
